body {
	font-family: Forum, serif;
	margin: 0;
	padding: 0;
}

.hero {
	min-height: 90vh;
	display: inline-block;
	background-color: #f08e80;
	color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 32px;
}

.links a {
	text-decoration: none;
	color: white;
	margin-right: 16px;
	font-size: 1.2rem;
}

.navbar p {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
}

.navbar .contact {
	color: #f08e80;
	background-color: white;
	text-decoration: none;
	padding: 16px 24px;
}

.navbar .contact:hover {
	opacity: 0.8;
}

.hero-content {
	padding: 0 15%;
}

.tagline {
	font-size: 2.8rem;
	letter-spacing: 2.5px;
	padding: 20px 0;
	margin: 0;
}

.two-col {
	font-size: 1.5rem;
}

.two-col > p {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.two-col .specialities {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0;
	list-style-type: none;
}

.two-col .specialities li {
	width: 50%;
	float: left;
	font-size: 1.4rem;
	margin: 4px 0;
}

.blog-section {
	background-color: white;
	/* why is inline-block required? it was also reqd for .hero-section */
	display: inline-block;
	padding: 64px 0;
}

.blog-content {
	padding: 0 15%;
}

.two-col .blog-posts {
	width: 50%;
	float: left;
}

.blog-posts {
	margin-top: 4px;
}

.blog-title {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.blog-text {
	font-size: 1rem;
	margin: 0;
}

.blog-date {
	font-size: 0.8rem;
	color: grey;
	margin: 6px 0 25px 0;
}

.events-section {
	background-color: #fdf0e6;
	display: inline-block;
	width: 100%;
	padding: 64px 0;
}

.events-content {
	padding: 0 15%;
}

.events-card {
	width: 50%;
	float: left;
	margin-top: 4px;
}

.event-title {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.event-location {
	font-size: 1rem;
	margin: 0;
}

.event-date {
	font-size: 0.8rem;
	color: grey;
	margin: 6px 0 25px 0;
}
